<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DrLiu</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=3.2.0" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper animated fadeInRight">
	<div class="ibox">
	    <div class="ibox-title">
	        <h5>自定义菜单管理</h5>
	        <div class="ibox-tools">
	            <a id="page-goback" href="{{:U('/WxCustomMenu/index',array('wpid'=>$wpid))}}">
	                <i class="fa fa-arrow-left"></i> 后退
	            </a>
	            <a id="page-refresh" href="javascript:;">
	                <i class="fa fa-refresh"></i> 刷新
	            </a>
	        </div>
	    </div>
	    <div class="ibox-content">
        <!-- 表单 -->
        <form id="form" action="{{:U('info')}}" method="post" class="form-horizontal validate">
            <div class="form-group">
                <label class="col-sm-3 control-label">一级菜单</label>
                <div class="col-sm-4">
                    <select class="form-control"  name="pid">
                        <option value="0">无 </option>
                        <notempty name="pList">
                            <volist name="pList" id="vo">
                                <option value="{{$vo.id}}">{{$vo.title}} </option>
                            </volist>
                        </notempty>
                    </select>
                    <label class="help-block m-t m-b-none text-warning"><i class="fa fa-info-circle"></i> 如果是一级菜单，选择“无”即可</label>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">菜单名</label>
                <div class="col-sm-4">
                    <input class="form-control"  name="title" value="{{:initValue('title', $data)}}" type="text" required="required">
                    <label class="help-block m-t m-b-none text-warning">
                        	<i class="fa fa-bell"></i> 一级菜单最多显示4个汉字，二级菜单最多显示7个汉字，多出来的部分将会以“...”代替，长度不超过16个字
                    </label>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">菜单排序</label>
                <div class="col-sm-4">
                    <input class="form-control"  name="sort" value="{{:initValue('sort', $data)}}" type="text" required="required">
                    <label class="help-block m-t m-b-none text-warning">
                        <i class="fa fa-bell"></i> 序号越小，菜单排序越前
                    </label>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label"> 菜单内容 </label>
                <div class="col-sm-2">
                    <div class="radio radio-inline radio-success">
                        <input class="regular-radio choose_from" value="2" id="from_2" name="from"  type="radio" required>
                        <label for="from_2">跳转到网页</label>
                    </div>
                    <div class="radio radio-inline radio-success">
                        <input class="regular-radio choose_from" value="4" id="from_4" name="from"  type="radio" required>
                        <label for="from_4">跳转到小程序</label>
                    </div>
                    <div class="radio radio-inline radio-success">
                        <input class="regular-radio choose_from" value="3" id="from_3" name="from"  type="radio" required>
                        <label for="from_3">自定义事件</label>
                    </div>
                    <div class="radio radio-inline radio-success">
                        <input class="regular-radio choose_from" value="0" id="from_0" name="from"  type="radio" required>
                        <label for="from_0">无事件的一级菜单</label>
                    </div>
                </div>
            </div>
			<div class="hr-line-dashed"></div>
            <!--发送内容-->
            <div class="form-group" id="content_1" style="display: none;">
                <label class="col-sm-3 control-label"><span class="need_flag">*</span> 选择素材 </label>
                <div class="col-sm-4">
                    <div id="material_material"></div>
                </div>
               
            </div>
            <!--跳转URL-->
            <div id="content_2" style="display: none;">
            	<div class="form-group">
            		<label class="col-sm-3 control-label">关联URL </label>
	                <div class="col-sm-4">
	                    <input class="form-control"  name="url" value="{{:initValue('url', $data)}}" type="text" required>
	                </div>
            	</div>
                <div class="hr-line-dashed"></div>
            </div>
            <!--自定义-->
            <div id="content_3" style="display: none;">
                <!--<div class="form-group">
                    <label class="col-sm-3 control-label">事件类型 </label>
                    <div class="col-sm-4">
                        <div class="radio radio-inline radio-success">
                            <input class="regular-radio" value="click" name="type" id="type_click" type="radio">
                            <label for="type_click">点击推事件</label>
                        </div>
                    </div>
                </div>-->
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">关联关键词</label>
                    <div class="col-sm-4">
                        <input class="form-control" name="keyword" value="{{:initValue('keyword', $data)}}" type="text" required="required">
                        <label class="help-block m-t m-b-none text-warning">
                        	<i class="fa fa-bell"></i> 菜单KEY值，用于消息接口推送，不超过128字节
                    	</label>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            </div>
            <!--小程序-->
            <div id="content_4" style="display: none;">
                <div class="form-group">
                    <label class="col-sm-3 control-label">小程序的appid </label>
                    <div class="col-sm-4">
                        <input class="form-control" name="appid" value="{{:initValue('appid', $data)}}" type="text">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">小程序的页面路径 </label>
                    <div class="col-sm-4">
                        <input class="form-control" name="pagepath" value="{{:initValue('pagepath', $data)}}" type="text">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">备用URL</label>
                    <div class="col-sm-4">
                        <input class="form-control" name="appurl" value="{{:initValue('appurl', $data)}}" type="text">
                        <label class="help-block m-t m-b-none text-warning">
                        	<i class="fa fa-bell"></i> 不支持小程序的老版本客户端将打开此url
                    	</label>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            </div>

            <input class="text" name="rule_id" value="{{:I('rule_id',0)}}" type="hidden">
            <input class="text" name="id" value="{{:I('id',0)}}" type="hidden">
            <div class="form-group m-t-md">
                <div class="col-sm-4 col-sm-offset-3">
                    <input type="hidden" name="wpid" value="{{$wpid}}" />
                    <button class="btn btn-primary" type="submit" target-form="form-horizontal">{{$submit_name|default='确 定'}}</button>
                </div>
            </div>
        </form>
    </div>
	</div>
</div>
<!-- 全局js -->
<script src="__PUBLIC__/js/jquery.min.js?v=2.1.1"></script>
<script src="__PUBLIC__/js/bootstrap.min.js?v=3.4.0"></script>
<!-- 自定义js -->
<script src="__PUBLIC__/js/content.min.js?v={$time}"></script>
<script src="__PUBLIC__/js/plugins/chartJs/Chart.min.js"></script>

<script type="text/javascript">
    $(function(){
    <php>if(isset($data['pid'])) { </php>
            $("select[name='pid']").val({{$data.pid}})
        <php> } </php>

        <php>if(isset($data['from'])) { </php>
            $("input[name='from'][value='{{$data.from}}']").prop("checked",true)
            console.log('{{$data.from}}')
            console.log('input[name=')
            <php> } </php>
        <php>if(isset($data['type'])) { </php>
            $("input[name='type'][value='{{$data.type}}']").prop("checked",true)
            <php> } </php>

        $('.choose_from').click(function(){
            choose_from();
        });
        choose_from();

        $('select[name="pid"]').change(function(){
            choose_top();
        });
        choose_top();

        $('.chooes_xcx').click(function(){
            openSelectLists(dataUrl,count,title,callback)
        })
    });

    function choose_from(){
        var from = $("input[name='from']:checked").val();
        console.log('from:'+from)
        $('#content_1').hide();
        $('#content_2').hide();
        $('#content_3').hide();
        $('#content_4').hide();
        $('#content_'+from).show();
    }
    function choose_top(){
        var pid = $('select[name="pid"]').val();

        if(pid==0){
            $("#top_show").show()
        }else{
            $("#top_show").hide()
        }
    }
</script>

</body>
</html>
