<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>长宽电信</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=3.2.0" rel="stylesheet">
    <meta name="referrer" content="never">
</head>

<body class="gray-bg">
<div class="wrapper">

    <div class="ibox">
        <div class="ibox-title">
            <h5>微信接口日志</h5>
            <div class="ibox-tools">
                <a id="page-refresh" href="javascript:;">
                    <i class="fa fa-refresh"></i> 刷新
                </a>
            </div>
        </div>
        <div class="ibox-content">

            <div class="row m-b">
                <div class="col-sm-9">
                    <form method="get" action="" autocomplete="off">
                        <div class="row">
                            <div class="col-sm-3 m-b">
                                <select name="log_type" class="form-control">
                                    <option value="">日志类型</option>
                                    <volist name=":get_log_type()" id="v">
                                        <option value="{{$v.key}}" <if condition="$filter.log_type eq $v['key']">selected="selected"</if>>{{$v.val}}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-primary">查询</button>
                                <a class="btn btn-warning" href="{{:U('index')}}">重置</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--表头结束-->

            <notempty name="list_data[0]">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center col-sm-1">编号</th>
                        <th class="text-center col-sm-1">日志类型</th>
                        <th>数据</th>
                        <th class="text-center col-sm-2">时间</th>
                    </tr>
                    </thead>

                    <tbody>
                    <volist name="list_data" id="v">
                        <tr>
                            <td class="text-center">{{$i}}</td>
                            <td class="text-center">{{:get_log_type($v['log_type'])['val']}}</td>
                            <td style="word-break: break-all;">{{$v.data}}</td>
                            <td class="text-center">{{$v.create_time|date='Y-m-d H:i:s',###}}</td>
                        </tr>
                    </volist>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-sm-12 pager"><include file="Common/page" /></div>
                </div>

                <else />
                <h1 class="wrapper text-center">
                    <i class="fa fa-4x fa-weixin"></i>
                    <p class="m-t">暂无日志数据</p>
                </h1>
            </notempty>
        </div>
    </div>

</div>
<!-- 全局js -->
<script src="__PUBLIC__/js/jquery.min.js?v=2.1.1"></script>
<script src="__PUBLIC__/js/bootstrap.min.js?v=3.4.0"></script>
<!-- 自定义js -->
<script src="__PUBLIC__/js/content.min.js?v={$time}"></script>
<script src="__PUBLIC__/js/plugins/chartJs/Chart.min.js"></script>
</body>
</html>
