<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DrLiu</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=3.2.0" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper">

    <h2 class="text-center">{{$public_name}}-后台管理</h2>

    <div class="ibox-tools">
        <a id="page-goback" href="{{:U('/Wechat/index')}}">
            <i class="fa fa-arrow-left"></i> 后退
        </a>
    </div>

    <div class="col-md-12 text-center">
        <a class="btn btn-primary btn-lg" href="{{:U('WxMaterial/text',array('wpid'=>$wpid))}}">素材管理</a>
        <a class="btn btn-primary btn-lg" href="{{:U('WxAutoReply/text',array('wpid'=>$wpid))}}">自动回复</a>
        <a class="btn btn-primary btn-lg" href="{{:U('WxCustomMenu/index',array('wpid'=>$wpid))}}">自定义菜单</a>
        <!--<a class="btn btn-primary btn-lg" href="{{:U('WxWelcome/text',array('wpid'=>$wpid))}}">欢迎语设置</a>-->
        <a class="btn btn-primary btn-lg" href="{{:U('WxCustomQr/index',array('wpid'=>$wpid))}}">扫码管理</a>

    </div>





</div>
<!-- 全局js -->
<script src="__PUBLIC__/js/jquery.min.js?v=2.1.1"></script>
<script src="__PUBLIC__/js/bootstrap.min.js?v=3.4.0"></script>
<!-- 自定义js -->
<script src="__PUBLIC__/js/content.min.js?v={$time}"></script>
<script src="__PUBLIC__/js/plugins/chartJs/Chart.min.js"></script>
<script>
    $(document).ready(function(){
        var __m = "{{$orderMonth}}";
            __m = __m.split(",");
        var __d = "{{$monthDataCK}}",
            __d = __d.split(",");
        var g={
            labels:__m,
            datasets:[
                {
                    label:"订单营收",
                    fillColor:"#FFA94B",
                    strokeColor:"#f60",
                    pointColor:"#FFA94B",
                    pointStrokeColor:"#fff",
                    pointHighlightFill:"#fff",
                    pointHighlightStroke:"#f60",
                    data:__d
                }
            ]
        };
        var d={
            scaleShowGridLines:true,
            scaleGridLineColor:"rgba(0,0,0,.05)",
            scaleGridLineWidth:1,
            bezierCurve:true,
            bezierCurveTension:0.4,
            pointDot:true,
            pointDotRadius:4,
            pointDotStrokeWidth:1,
            pointHitDetectionRadius:20,
            datasetStroke:true,
            datasetStrokeWidth:2,
            datasetFill:true,
            responsive:true,
        };
        var b = document.getElementById("GWBN").getContext("2d");
        var c = new Chart(b).Line(g,d);
    });
</script>
<script>
    $(document).ready(function(){
        var __m = "{{$orderMonth}}";
            __m = __m.split(",");
        var __d = "{{$monthDataKDT}}",
            __d = __d.split(",");
        var g={
            labels:__m,
            datasets:[
                {
                    label:"订单营收",
                    fillColor:"#0081C9",
                    strokeColor:"#09c",
                    pointColor:"#0081C9",
                    pointStrokeColor:"#fff",
                    pointHighlightFill:"#fff",
                    pointHighlightStroke:"#09c",
                    data:__d
                }
            ]
        };
        var d={
            scaleShowGridLines:true,
            scaleGridLineColor:"rgba(0,0,0,.05)",
            scaleGridLineWidth:1,
            bezierCurve:true,
            bezierCurveTension:0.4,
            pointDot:true,
            pointDotRadius:4,
            pointDotStrokeWidth:1,
            pointHitDetectionRadius:20,
            datasetStroke:true,
            datasetStrokeWidth:2,
            datasetFill:true,
            responsive:true,
        };
        var b = document.getElementById("KDT").getContext("2d");
        var c = new Chart(b).Line(g,d);
    });
</script>
</body>

</html>
