<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>长宽电信</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=3.2.0" rel="stylesheet">
</head>

<body class="gray-bg">

<div class="wrapper">

    <div class="ibox">
        <div class="ibox-title">
            <h5> api调用统计</h5>
            <div class="ibox-tools">
                <a id="page-refresh" href="javascript:;">
                    <i class="fa fa-refresh"></i> 刷新
                </a>
            </div>
        </div>

        <div class="ibox-content">
            <div class="row">
                <form method="GET" action="" autocomplete="off">
                    <div class="col-sm-2 m-b">
                        <select name="type" id="type" class="form-control">
                            <option value="">类型</option>
                            <volist name="typeList" id="v">
                                <option value="{{$v.type_code}}" <if condition="$v.type_code eq $type">selected</if>>{{$v.type}}</option>
                            </volist>
                        </select>
                    </div>
                    <div class="col-sm-2 m-b">
                        <select name="year" id="year" class="form-control">
                            <option value="">年</option>
                            <volist name="yearList" id="v">
                                <option value="{{$v}}" <if condition="$year eq $v">selected</if>>{{$v}}</option>
                            </volist>
                        </select>
                    </div>
                    <div class="col-sm-2 m-b">
                        <select class="form-control" name="month" id="month">
                            <option value="">月份</option>
                        </select>
                    </div>
                    <div class="col-sm-2 m-b">
                        <select name="day" id="day" class="form-control">
                            <option value="">日</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary">查询</button>
                        <a class="btn btn-warning" href="main">重置</a>
                    </div>
                </form>
            </div>

            <div id="analysis-order"></div>

        </div>
    </div>

</div>

<!-- 全局js -->
<script src="__PUBLIC__/js/jquery.min.js?v=2.1.1"></script>
<script src="__PUBLIC__/js/bootstrap.min.js?v=3.4.0"></script>

<!-- 自定义js -->
<script src="__PUBLIC__/js/content.min.js"></script>
<script src="__PUBLIC__/js/plugins/highcharts/highcharts.js?v6.0.7"></script>
<script>
    $(function () {
        $('#analysis-order').highcharts({
                title: {
                    text: 'api调用量统计'
                },
                /*subtitle: {
                    text: '测试'
                },*/
                xAxis: [{
                    categories: {{$axis}},
            crosshair: true
    }],
        yAxis: [{ // Primary yAxis
            title: {
                text: null
            },
            labels: {
                format: '{value} 次'
            }
        }/*, { // Secondary yAxis
            title: {
                text: null
            },
            labels: {
                format: '{value} 元'
            },
            opposite: true
        }*/],
            tooltip: {
            shared: true
        },
        series: [{
            name: '调用量',
            type: 'line',
            //yAxis: 1,
            data: {{$total}},
        tooltip: {
            valueSuffix: ' 次'
        }
    }/*,{
            name: '订单量',
                type: 'line',
                data: {{$total}},
            tooltip: {
                valueSuffix: ' 单'
            }
        }*/],
        colors: ['#4f55c6'],
        //colors: ['#1c84c6','#ed5565'],
            credits: {
            enabled: false
        }
    });
    });


    $("#year").change(function(){
        var currmonth = {{$month}};
        var val = $(this).val();
        $("#month").empty();
        $("#month").append("<option value='0'>全部</option>");
        if(val > 0){
            for(var i=1;i<=12;i++){
                var selected = "";
                if (i == currmonth)
                    selected = " selected";
                $("#month").append("<option value='"+i+"' "+selected+">"+i+"月</option>");
            }
        }
    });

    $(function(){
        $("#year").change();
        $("#month").change();
    });


    $("#month").change(function(){
        var currday = {{$day}};
        var val = $(this).val();
        $("#day").empty();
        $("#day").append("<option value='0'>全部</option>");
        if(val > -1){
            var daysInMonth = getDaysInOneMonth();
            for(var i=1;i<=daysInMonth;i++){
                var selected = "";
                if (i == currday)
                    selected = " selected";
                $("#day").append("<option value='"+i+"' "+selected+">"+i+"日</option>");
            }
        }
    });

    function getDaysInOneMonth(){
        var year = $("#year").val();
        var month = $("#month").val()==0?1:$("#month").val();
        month = parseInt(month, 10);
        var d= new Date(year, month, 0);
        return d.getDate();
    }

</script>
</body>
</html>




