<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DrLiu</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=3.2.0" rel="stylesheet">
</head>

<body class="gray-bg">

    <div class="wrapper animated fadeInRight">
        
        <div class="ibox">
            <div class="ibox-title">
                <h5>{{$maintitle}}</h5>
                <div class="ibox-tools">
                    <a id="page-goback" href="{{:U('/WxAutoReply/image',array('wpid'=>$wpid))}}">
                        <i class="fa fa-arrow-left"></i> 后退
                    </a>
                    <a id="page-refresh" href="javascript:;">
                        <i class="fa fa-refresh"></i> 刷新
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                
                <form class="form-horizontal validate" method="post" action="" autocomplete="off" enctype="multipart/form-data">
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">关键词</label>
                        <div class="col-sm-3">
                            <input type="text" name="keyword" class="form-control" value="{{$auto_reply.keyword}}" required />
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">规则类型</label>
                        <div class="col-sm-3">
                            <select name="addons" class="form-control">
                                <notempty name="addonList">
                                    <volist name="addonList" id="vo">
                                        <option value="{{$vo.addons}}">{{$vo.addonsName}} </option>
                                    </volist>
                                </notempty>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">消息排序</label>
                        <div class="col-sm-3">
                            <input type="text" name="sort" class="form-control" value="{{$auto_reply.sort}}" required />
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">素材图片</label>
                        <div class="col-sm-3">
                            图片编号：<input type="text" id="image_material" readonly="readonly" name="image_material" class="form-control" value="{{$auto_reply.image_material}}" />
                            <br>

                            <!--<a class="btn btn-primary " href="{{:U('WxMaterial/imageInfo',array('wpid'=>$wpid))}}"><i class="fa fa-plus"></i> 添加图片素材</a>
                            <br>
                            <br>-->
                            <button id="IMAGE-CHOOSE-BTN" type="button" class="btn btn-info">选择图片素材</button>

                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">是否启用</label>
                        <div class="col-sm-3">
                            <div class="radio radio-inline radio-success">
                                <input id="cate_status1" type="radio" name="status" value="1" <if condition="$auto_reply.status eq 1">checked="checked"</if>/>
                                <label for="cate_status1">是</label>
                            </div>
                            <div class="radio radio-inline radio-danger">
                                <input id="cate_status2" type="radio" name="status" value="2" <if condition="$auto_reply.status neq 1">checked="checked"</if>/>
                                <label for="cate_status2">否</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <input type="hidden" name="back_url" value="{{$back_url}}" />
                            <input type="hidden" name="wpid" value="{{$wpid}}" />
                            <input type="hidden" name="id" value="{{$auto_reply.id}}" />
                            <button type="submit" class="btn btn-primary">保存内容</button>
                        </div>
                    </div>
                </form>

                <div id="IMAGE-CHOOSE-WINDOW" class="modal inmodal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <input name="keyword" type="text" class="form-control" placeholder="请输入图片名称搜索" />
                                        <input type="hidden" name="wpid" value="{{$wpid}}" />
                                        <input type="hidden" name="token" value="{{$token}}" />
                                    </div>
                                    <div class="col-sm-2 text-left">
                                        <button id="SKU-FIND-BTN" type="button" class="btn btn-primary">查询</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body" style="height:320px; overflow:auto;">
                                <table class="table table-bordered table-hover" style="display:none;">
                                    <thead>
                                    <tr>
                                        <th class="text-center">编号</th>
                                        <th class="text-center">图片名称</th>
                                        <th class="text-center">素材id</th>
                                        <th class="text-center">图片内容</th>
                                        <th width="10%" class="text-center">选择</th>
                                    </tr>
                                    </thead>
                                    <tbody id="SKU-LIST" class="tooltip-fn"></tbody>
                                </table>
                                <div id="EMPTY" style="display:none;">
                                    <h2 class="text-center">
                                        <p><i class="fa fa-4x fa-skyatlas"></i></p>
                                        <p class="m-t-lg m-b-lg">没有查询到相关素材，请重新搜索</p>
                                    </h2>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- 全局js -->
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.1"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.4.0"></script>

    <!-- 自定义js -->
    <script src="__PUBLIC__/js/content.min.js?v=1.0.0"></script>
    <script src="__PUBLIC__/js-build/message_image.js?v=1.1"></script>
    <script type="text/javascript">
        $(function(){
        <php>if(isset($auto_reply['addons'])) { </php>
                $("select[name='addons']").val('{{$auto_reply.addons}}')
                <php> } </php>

        });
    </script>

</body>
</html>
