<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DrLiu</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=3.2.0" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper">

    <div class="ibox">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="{{:U('WxAutoReply/text',array('wpid'=>$wpid))}}">
                        <i class="fa fa-file-text-o"></i> 文本消息
                    </a>
                </li>
                <li>
                    <a href="{{:U('WxAutoReply/image',array('wpid'=>$wpid))}}">
                        <i class="fa fa-file-image-o"></i> 图片消息
                    </a>
                </li>
                <li>
                    <a href="{{:U('WxAutoReply/news',array('wpid'=>$wpid))}}">
                        <i class="fa fa-newspaper-o"></i> 图文消息
                    </a>
                </li>
                <div class="tab-tools">
	                <a id="page-goback" href="{{$back_url}}">
	                    <i class="fa fa-arrow-left"></i> 后退
	                </a>
	                <a id="page-refresh" href="javascript:;">
	                    <i class="fa fa-refresh"></i> 刷新
	                </a>
	            </div>
            </ul>
            <div class="tab-content tab-panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <form method="get" action="" autocomplete="off">
                                <div class="row">
                                    <div class="col-md-3 m-b">
                                        <select name="addons" class="form-control">
                                            <notempty name="addonList">
                                                <option value="">自动回复类型</option>
                                                <volist name="addonList" id="vo">
                                                    <option value="{{$vo.addons}}">{{$vo.addonsName}} </option>
                                                </volist>
                                            </notempty>
                                        </select>
                                    </div>
                                    <div class="col-md-3 m-b">
                                        <select name="status" class="form-control">
                                            <option value="">状态</option>
                                            <option value=1 <if condition="1 eq $filter['status']"> selected='selected'</if>>有效</option>
                                            <option value=2 <if condition="2 eq $filter['status']"> selected='selected'</if>>无效</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3 m-b">
                                        <button type="submit" class="btn btn-primary">查询</button>
                                        <a class="btn btn-warning" href="{{:U('text',array('wpid'=>$wpid))}}">重置</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-3 clearfix">
                            <a class="btn btn-primary pull-right" href="{{:U('textInfo',array('wpid'=>$wpid))}}"><i class="fa fa-plus"></i> 添加消息</a>
                        </div>
                    </div>
                    <!--表头结束-->


                    <notempty name="list_data[0]">
                        <table class="table table-bordered">
                            <thead>
                            <tr>

                                <th class="col-sm-1 text-center">编号</th>
                                <th class="col-sm-2 text-center">规则类型</th>
                                <th class="col-sm-1 text-center">关键词</th>
                                <th>回复内容</th>
                                <th class="col-sm-1 text-center">状态</th>
                                <th class="col-sm-1 text-center">排序</th>
                                <th class="col-sm-1">操作</th>
                            </tr>
                            </thead>

                            <tbody class="tooltip-fn">
                            <volist name="list_data" id="v">
                                <tr>
                                    <td class="text-center">{{$v.id}}</td>
                                    <td class="text-center">{{$v.addons}}</td>
                                    <td class="text-center">{{$v.keyword}}</td>
                                    <td>{{$v.content}}</td>
                                    <td class="text-center">
                                    	<if condition="$v.status eq 1">
                                    		<span class="text-navy">有效</span>
                                    	<else />
                                    		<span class="text-danger">无效</span>
                                    	</if>
                                    </td>
                                    <td class="text-center">{{$v.sort}}</td>
                                    <td>
                                        <a class="btn btn-sm btn-success" href="{{:U('WxAutoReply/textInfo',array('wpid'=>$wpid,'id'=>$v['id']))}}" target="_self">编辑</a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-md-12 pager"><include file="Common/page" /></div>
                        </div>

                        <else />
                        <h2 class="wrapper text-center"> 
		                    <p>
		                        <i class="fa fa-4x fa-commenting-o"></i>
		                    </p>
		                    <p class="m-t-lg">你还没有添加消息</p>
		                </h2>
                    </notempty>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- 全局js -->
<script src="__PUBLIC__/js/jquery.min.js?v=2.1.1"></script>
<script src="__PUBLIC__/js/bootstrap.min.js?v=3.4.0"></script>
<!-- 自定义js -->
<script src="__PUBLIC__/js/content.min.js?v={$time}"></script>
<script src="__PUBLIC__/js/plugins/chartJs/Chart.min.js"></script>

<script type="text/javascript">
    $(function(){
    <php>if(isset($filter['addons'])) { </php>
            $("select[name='addons']").val('{{$filter.addons}}')
            <php> } </php>

    });
</script>
</body>
</html>
