<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DrLiu</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=3.2.0" rel="stylesheet">
    <meta name="referrer" content="never">
</head>

<body class="gray-bg">
<div class="wrapper">

    <div class="ibox">
        <div class="ibox-title">
            <h5 class="text-center">{{$public_name}}-素材管理</h5>
        </div>

        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li>
                    <a href="{{:U('text',array('wpid'=>$wpid))}}">
                        <i class="fa fa-file-text-o"></i> 文本消息
                    </a>
                </li>
                <li>
                    <a href="{{:U('image',array('wpid'=>$wpid))}}">
                        <i class="fa fa-file-image-o"></i> 图片消息
                    </a>
                </li>
                <li class="active">
                    <a href="{{:U('news',array('wpid'=>$wpid))}}">
                        <i class="fa fa-newspaper-o"></i> 图文消息
                    </a>
                </li>
                <div class="ibox-tools">
                    <a id="page-goback" href="{{$back_url}}">
                        <i class="fa fa-arrow-left"></i> 后退
                    </a>
                    <a id="page-refresh" href="javascript:;">
                        <i class="fa fa-refresh"></i> 刷新
                    </a>
                </div>
            </ul>
            <div class="tab-content tab-panel">
                <div class="panel-body">

                    <notempty name="list_data[0]">
                        <table class="table table-bordered">
                            <thead>
                            <tr>

                                <th>编号</th>
                                <th>标题</th>
                                <th>描述</th>
                                <th>跳转地址</th>
                                <th>封面图</th>
                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody class="tooltip-fn">
                            <volist name="list_data" id="v">
                                <tr>

                                    <td>{{$v.id}}</td>
                                    <td>{{$v.title}}</td>
                                    <td>{{$v.intro}}</td>
                                    <td><a href="{{$v['url']}}" target="_blank">跳转地址</a></td>
                                    <td>
                                        <!--<a href="__PUBLIC__/upload/images/wechat/{{$v['pic_url']}}" target="_blank"><img width="200" height="100" src="__PUBLIC__/upload/images/wechat/{{$v['pic_url']}}"/></a>-->
                                        <a href="{{$v['link']}}" target="_blank"><img width="200" height="100" src="{{$v['link']}}"/></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="{{:U('WxMaterial/newsInfo',array('wpid'=>$wpid,'id'=>$v['id']))}}" target="_self">编辑</a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-sm-12 pager"><include file="Common/page" /></div>
                        </div>

                        <else />
                        <div style="padding:100px; text-align:center;"><img style="vertical-align:middle;" src="__PUBLIC__/img/weixin.png"/> 你还没有添加图文素材</div>
                    </notempty>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- 全局js -->
<script src="__PUBLIC__/js/jquery.min.js?v=2.1.1"></script>
<script src="__PUBLIC__/js/bootstrap.min.js?v=3.4.0"></script>
<!-- 自定义js -->
<script src="__PUBLIC__/js/content.min.js?v={$time}"></script>
<script src="__PUBLIC__/js/plugins/chartJs/Chart.min.js"></script>
</body>
</html>
