<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>长宽电信</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=3.2.0" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper">


    <div class="ibox">
        <div class="tabs-container">
	            <ul class="nav nav-tabs">
	                <li class="active">
	                    <a href="{{:U('text',array('wpid'=>$wpid))}}">
	                        <i class="fa fa-file-text-o"></i> 文本素材
	                    </a>
	                </li>
	                <li>
	                    <a href="{{:U('image',array('wpid'=>$wpid))}}">
	                        <i class="fa fa-file-image-o"></i> 图片素材
	                    </a>
	                </li>
	                <li>
	                    <a href="{{:U('news',array('wpid'=>$wpid))}}">
	                        <i class="fa fa-newspaper-o"></i> 图文素材
	                    </a>
	                </li>
					<!--<li>
						<a href="{{:U('rawNews',array('wpid'=>$wpid))}}">
							<i class="fa fa-newspaper-o"></i> 微信图文素材
						</a>
					</li>-->
	                <div class="tab-tools">
			            <a id="page-goback" href="{{$back_url}}">
			                <i class="fa fa-arrow-left"></i> 后退
			            </a>
			            <a id="page-refresh" href="javascript:;">
			                <i class="fa fa-refresh"></i> 刷新
			            </a>
			        </div>
	            </ul>
	            <div class="tab-content tab-panel">
	                <div class="panel-body">
	                	<div class="row">
                        <div class="col-sm-12 m-b">
                            <a class="btn btn-primary pull-right" href="{{:U('textInfo',array('wpid'=>$wpid))}}"><i class="fa fa-plus"></i> 添加素材</a>
                        </div>
                    </div>
                    <!--表头结束-->
	
	                    <notempty name="list_data[0]">
	                        <table class="table table-bordered">
	                            <thead>
	                            <tr>
	
	                                <th class="col-sm-1 text-center">编号</th>
	                                <th>文本内容</th>
	                                <th class="col-sm-1 text-center">操作</th>
	                            </tr>
	                            </thead>
	
	                            <tbody class="tooltip-fn">
	                            <volist name="list_data" id="v">
	                                <tr>
	
	                                    <td class="text-center">{{$v.id}}</td>
	                                    <td>{{$v.content}}</td>
	                                    <td class="text-center">
	                                        <a class="btn btn-sm btn-success" href="{{:U('WxMaterial/textInfo',array('wpid'=>$wpid,'id'=>$v['id']))}}" target="_self">编辑</a>
	                                    </td>
	                                </tr>
	                            </volist>
	                            </tbody>
	                        </table>
	                        <else />
	                        <h2 class="wrapper text-center"> 
			                    <p>
			                        <i class="fa fa-4x fa-file-text"></i>
			                    </p>
			                    <p class="m-t-lg">你还没有添加文本素材</p>
			                </h2>
	                    </notempty>
	                </div>
	            </div>
	        </div>

    </div>

</div>
<!-- 全局js -->
<script src="__PUBLIC__/js/jquery.min.js?v=2.1.1"></script>
<script src="__PUBLIC__/js/bootstrap.min.js?v=3.4.0"></script>
<!-- 自定义js -->
<script src="__PUBLIC__/js/content.min.js?v={$time}"></script>
<script src="__PUBLIC__/js/plugins/chartJs/Chart.min.js"></script>
</body>
</html>
